.row
  = render 'shared/errors'

%h1= @article.title
.time= @article.created_at
.time= @article.user.email
%p= simple_format(@article.entry)
%br
%span{class: "glyphicon glyphicon-arrow-left"}
= link_to 'Back to blog', root_url
- if @article.user == current_user
  &nbsp; | &nbsp;
  = link_to('Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" })
  &nbsp; | &nbsp;
  = link_to('Edit', edit_article_path(@article))
  %span{class: "glyphicon glyphicon-arrow-right"}

.row
  .h3 Comments:
  = form_for([@article, @article.comments.build]) do |f|
    %p
      =f.label :name, "Name"
      =f.text_field :name, placeholder: "required... "
    %p
      =f.label :body, "Response"
      =f.text_area :body, rows: 3, placeholder: "required..."
    %p
      =f.submit

- if @article.comments.count > 0
  = render @article.comments.order("created_at DESC") 