<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="row">

  <div class="col-md-3">
    <%= render 'shared/nav' %>
  </div>

  <div class="col-md-6">
    <span class="row"><%= yield %></span>
    <span class="row"><%= render 'shared/footer' %></span>
  </div>

  <div class="col-md-3">
  </div>

</body>
</html>
